<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ibrahim.ali.s301022172">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hospital_building"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hospital_building"
        android:supportsRtl="true"
        android:theme="@style/Theme.IbrahimLab4">
        <activity android:name=".AliSearchActivity"></activity>
        <activity android:name=".AliAddTestsActivity" />
        <activity android:name=".AliAddPatientActivity" />
        <activity android:name=".AliShowPatientsTestsListActivity" />
        <activity android:name=".AliAddTestActivity" />
        <activity android:name=".AliPatientListActivity" />
        <activity android:name=".IbrahimActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>